NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
VITE_API_BASE_URL=
VITE_DATABASE_URL=
VITE_DEFAULT_ADMIN_EMAIL=
VITE_DEFAULT_ADMIN_NAME=
VITE_DEFAULT_ADMIN_PASSWORD=
VITE_SMS_API_KEY=
VITE_SMS_API_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=